.battle-container {
    border: 1px solid rgb(204, 204, 204);
    padding: 10px;
    margin-bottom: 30px;
}

.battle-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.battle-info div {
    margin: 10px 0;
}

.battle-vs {
    font-size: 1.5rem;
}

.battle-points-info {
    font-size: 1.1rem;
}

.battle-points-info span {
    font-weight: 700;
}

@media screen and (max-width: 768px) {
    .battle-info {
        flex-direction: column;
    }
}