.settings-row {
    display: flex;
    justify-content: space-between;

    padding: 10px 0;

    font-size: 1.1rem;
}

.settings-row-labels {
    width: 30%;
}

.settings-row-main {
    width: 50%;
}

.settings-row-action {
    margin-left: auto;
}

.settings-row-action button {
    min-width: 100px;
}

@media screen and (max-width: 768px) {
    .settings-row {
        flex-direction: column;
    }

    .settings-row-labels {
        width: 100%;
    }

    .settings-row-main {
        width: 100%;
    }

    .settings-row-action {
        margin: 0;
    }
}