.notification {
	display: flex;
	align-items: center;
	padding: 5px 0;

	position: fixed;
	
	right: 0;
	bottom: 100px;

	min-width: 300px;
	box-sizing: border-box;

	animation: notification 2s forwards;
}

.notificationError {
	background-color: #f0736a;
	color: #ffffff;
	border-bottom: 3px solid red;
}

.notificationSuccess {
	background-color: #5dbd51;
	color: #ffffff;
	border-bottom: 3px solid green;
}

.picture {
	margin: 10px 15px;
	color: #FFFFFF;
}

@keyframes notification {
	0% {
		transform: translateX(100%);
	}
	20% {
		transform: translateX(-10px);
	}
	50% {
		transform: translateX(-10px);
	}
	80% {
		transform: translateX(-10px);
	}
	100% {
		transform: translateX(100%);
	}
}
