.nothing-here {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.nothing-here h1 {
	color: rgb(175, 175, 175);
	margin: 0;
	margin-top: 70px;
	font-size: 35px;
}

.nothing-here a {
	font-size: 18px;
}

@media only screen and (max-width: 480px) {
	.nothing-here h1 {
		font-size: 25px;
	}

	.nothing-here a {
		font-size: 15px;
	}
}

@media only screen and (max-width: 340px) {
	.nothing-here h1 {
		font-size: 20px;
	}

	.nothing-here a {
		font-size: 12px;
	}
}