.card {
    position: relative;

	width: 32%;
	background: #fff;
	border: 1px solid rgb(145, 145, 145);
	margin-bottom: 20px;
}

.card.battle {
    width: 19%;
    margin: 0;
}

.card-total {
    width: 75%;
    margin: 15px auto;
    padding-top: 10px;

    font-family: "NCS Rogueland";
	font-size: 1.1rem;
	font-style: italic;
    text-align: center;

    border-top: 1px solid rgb(145, 145, 145);
}

.card.favourite {
    border: 1px solid rgb(255, 0, 0);
}

.card.team {
    border: 1px solid #17bcee;
}

.card.team-favourite {
    border-top: 1px solid rgb(255, 0, 0);
    border-left: 1px solid rgb(255, 0, 0);

    border-bottom: 1px solid #17beec;
    border-right: 1px solid #17bcee;
}

.card-header {
    text-align: center;
    margin-top: 15px;
}

.card-types {
    text-align: center;
}

.card-types span {
    padding: 3px 10px;
    margin: 0 5px;

    border: 1px solid rgb(145, 145, 145);
    border-radius: 15px;
}

.card-stats {
    border-top: 1px solid rgb(145, 145, 145);
    width: 75%;
    margin: 15px auto;
}

.card-stats ul {
    padding: 5px 0;
    list-style-type: none;
}

.card-stats li {
    display: flex;
    justify-content: space-between;
    padding: 7px 0;

    font-size: 1.05rem;
}

.card img {
	max-width: 100%;
}

/* Action buttons */
.actions-controller {
    position: absolute;
    top: 0;
    right: 0;

    display: none;
}

.card:hover .actions-controller {
    display: block;
}

.action-button {
    padding: 7px 12px;
    border: 2px solid transparent;
    background-color: transparent;
}

.action-button:hover {
    cursor: pointer;
}

.add-favorite:hover {
    color: red;
}

.add-team:hover {
    color: #17bcee;
}

.add-favorite:disabled {
    color: red;
}

.add-team:disabled {
    color: #17bcee;
}

@media screen and (max-width: 1000px) {
	.card {
		width: 48%;
	}

    .card.battle {
        width: 32%;
        margin-bottom: 10px; 
    }
}

@media screen and (max-width: 620px) {
	.card {
		width: 100%;
	}

    .card.battle {
        width: 100%;  
        margin-bottom: 10px; 
    }
}