.home-container-heading {
	font-size: 1.3rem;
	margin: 10px 0;
}

.home-container-heading span {
	font-weight: 600;
}

.home-container-results {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}