@import "~antd/dist/antd.css";

html,
body {
	margin: 0;
	background: #FAFAFA;
}

.app-container {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 20px;
}

.validation-error-message {
	position: relative;
	color: red;
	margin: 5px 0;
}

.form-group {
	margin-bottom: 0.5rem;
}

/* Typography (for heading on screens) */
.heading {
	/* margin-left: auto;
	margin-right: auto; */
	margin-top: 1rem;
	margin-bottom: 2rem;
}

.title {
    margin: 0;
}