@font-face {
	font-family: "NCS Rogueland";
	src: url("./assets/fonts/NCS\ Rogueland.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@import "~antd/dist/antd.css";


:root {
	--primary: #17beec;
	--error: #f54242;
}

html,
body {
	margin: 0;
	background: #FAFAFA;
}

/* ================= GENERAL FOR PROJECT ================= */
/* Containers */
.app-container {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 20px;
}

.cards {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-flow: wrap;
}

@media screen and (max-width: 620px) {
	.cards {
		justify-content: space-around;
	}
}
/* End of containers */

/* Heading of screens */
.heading {
	margin-top: 1rem;
	margin-bottom: 2rem;

	font-size: 1.1rem;
}

.title {
    margin: 0;
}
/* End of heading of screens */

/* Error message */
.error-message {
	position: relative;
	color: var(--error);
	margin: 5px 0;
}
/* End of error message */

/* Pagination */
.innerClass {
    display: flex;
    justify-content: center;

    padding: 1.5rem 0;

    list-style-type: none;
}

.itemClass {
    margin: 0 5px;
    padding: 7px 14px;
}

.itemClass:hover {
    background: rgb(241,241,241);
    background: linear-gradient(0deg, rgba(241,241,241,1) 0%, rgba(250,250,250,1) 70%);
    border-bottom: 2px solid #17bcee;
    cursor: pointer;
}

.itemClass:hover .linkClass {
    color: #17bcee;
}

.linkClass {
    color: #000000;
    transition: none;
}

.activeClass {
    background: rgb(241,241,241);
    background: linear-gradient(0deg, rgba(241,241,241,1) 0%, rgba(250,250,250,1) 70%);
    border-bottom: 2px solid #17bcee;
}

.activeClass .linkClass {
    color: #17bcee
}


@media screen and (max-width: 620px) {
    .itemClass {
        padding: 3.5px 7px;
    }
}
/* End of pagination */

/* ================= END GENERAL FOR PROJECT ================= */

/* Buttons */
.btn {
	min-width: 100px;

	border: 0;
	border-radius: 5px;

	background: var(--primary);
	color: #fff;

	padding: 5px;
	font-size: 16px;

	cursor: pointer;

	transition: .3s;
}

.btn:hover {
	background: #12a2ce;
}

.btn:focus {
	transform: scale(1.08);
}

/* Input */
.inp {
	display: block;
    width: 100%;

    box-sizing: border-box;

    border: none;
    background-color: #FAFAFA;

    border-bottom: 1px solid rgb(148, 148, 148);
}

.inp:focus {
	outline: none;
    border-color: #17bcee;
    box-shadow: 0px 6px 7px -8px #17bcee;
}

.inp:focus::-webkit-input-placeholder {
	opacity: 0;
    transform: translate(10%);
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

.inp:disabled {
	background: rgba(238, 238, 238, 0.89);
}

/* Forms */
.form-group {
	margin: 15px 0;
}