/* Navigation */
header {
	background-color: rgb(245, 245, 245);
}

.nav {
	overflow: hidden;

	margin: 0;
	padding: 0;

	list-style-type: none;
}

.nav-item {
	float: left;
}

/* Dropdown */
.dropdown {
	float: right;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown-content {
	display: none;
	position: absolute;

	min-width: 160px;

	background-color: #f9f9f9;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

	z-index: 1;
}

/* Logout button */
.logout-button {
	display: block;

	padding: 12px 16px;

	width: 100%;

	text-align: left;
	background: none;

	border: none;
	border-left: 3px solid transparent;
}

.logout-button:hover {
	border-color: #17bcee;
	color: #17bcee;
	background-color: #f1f1f1;

	cursor: pointer;
}

.logout-button:focus {
	outline: none;
}

.logout-button:active {
	outline: none;
}

/* Links */
.link {
	display: block;
	padding: 10px 16px;

	color: black;
	
	text-decoration: none;
	text-align: center;
}

.nav-link {
	border-top: 2px solid transparent;
	cursor: pointer;
}

.nav-link:hover {
	border-color: #17bcee;
}

.dropdown-link {
	border-left: 3px solid transparent;
	text-align: left;
}

.dropdown-link:hover {
	border-color: #17bcee;
	background-color: #f1f1f1;
}