.nav-wrapper {
	box-shadow: 0px -2px 8px 2px #888888;
}

.nav {
	display: flex;
	align-items: center;

	padding-top: 15px;
	padding-bottom: 15px;

	color: #000000;
}

.nav-items {
	display: flex;

	margin-left: auto;
}

.nav-link {
	padding-left: 20px;

	color: #17beec;
	font-size: 1.1rem;

	cursor: pointer;
	transition: none;
}

.nav-link:hover {
	color: 1px solid #135da3;
}

.brand {
	padding: 0;

	font-family: "NCS Rogueland";
	font-size: 1.2rem;
	font-style: italic;
	
	color: #000000;
}

.toggle {
	display: none;

	color: #000000;
}

@media only screen and (max-width: 768px) {
	.nav-items,
	.nav {
		flex-direction: column;
		align-items: center;
	}

	.nav-items {
		display: none;
	}

	.nav-link {
		padding: 5px 0;
	}

	.nav-toggle-show {
		display: flex;
		margin-left: 0;
	}

	.toggle {
		align-self: flex-end;
		display: initial;
		position: absolute;
		cursor: pointer;
	}
}
